<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="microsoft.visualstudio.testtools"
             type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <connectionStrings>
    <!--<add name="MyExcelConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=..\..\..\TestDataDrivenShit\Data.xlsx; Extended Properties='Excel 12.0;HDR=yes';" providerName="System.Data.OleDb" />-->
    <add name="BoundaryValuesConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=C:\MyStaff\RedcurrantTFS\TelerikSystemPerformanceTesting\PerformanceTesting\DataUsers\VioletaUsers3.csv; Extended Properties='Excel 12.0;HDR=yes';" providerName="System.Data.OleDb" />
  </connectionStrings>

  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="Users" connectionString="BoundaryValuesConnection" dataTableName="VioletaUsers3$" dataAccessMethod="Sequential"/>
    </dataSources>

  </microsoft.visualstudio.testtools>
  
</configuration>